<%- contentFor('body') %>
<h3 class="text-center title-1"> <%- aluno.nome%> (<%- aluno.matricula%>) </h3>

<% if(aluno.disciplinas_ok.length > 0) { %>
  <p>Disciplinas Matriculadas:</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Disciplina</th>
        <th scope="col">Horários</th>
      </tr>
    </thead>
    <tbody>
      <% aluno.disciplinas_ok.forEach(function(disciplina){ %>
        <tr>
          <th scope="row"><%= disciplina.codigo %></th>
          <td><%= disciplina.nome %></td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="horarios_<%disciplina._id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Horários
              </button>
              <div class="dropdown-menu" style="text-align: center !important;" aria-labelledby="horarios_<%disciplina._id%>">
                <% if(disciplina.horarios.get('dia_1') && disciplina.horarios.get('hora_1')){ %>
                  <p><b><%= disciplina.horarios.get('dia_1') %>:</b> <%= disciplina.horarios.get('hora_1') %></p>
                <% } %>
                <% if(disciplina.horarios.get('dia_2') && disciplina.horarios.get('hora_2')){ %>
                  <p><b><%= disciplina.horarios.get('dia_2') %>:</b> <%= disciplina.horarios.get('hora_2') %></p>
                <% } %>
                <% if(disciplina.horarios.get('dia_3') && disciplina.horarios.get('hora_3')){ %>
                  <p><b><%= disciplina.horarios.get('dia_3') %>:</b> <%= disciplina.horarios.get('hora_3') %></p>
                <% } %>
                <% if(disciplina.horarios.get('dia_4') && disciplina.horarios.get('hora_4')){ %>
                  <p><b><%= disciplina.horarios.get('dia_4') %>:</b> <%= disciplina.horarios.get('hora_4') %></p>
                <% } %>
              </div>
            </div>
          </td>
        </tr>
      <%})%>
    </tbody>
  </table>
<%} else {%>
    <p>O aluno não está matriculado em nenhuma disciplina</p>
<%}%>

<% if(aluno.disciplinas_conflito.length > 0) { %>
  <p>As seguintes disciplinas possuem conflito de horários e não poderão ser cursadas pelo aluno:</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Disciplina</th>
        <th scope="col">Horários</th>
      </tr>
    </thead>
    <tbody>
      <% aluno.disciplinas_conflito.forEach(function(disciplina){ %>
        <tr>
          <th scope="row"><%= disciplina.codigo %></th>
          <td><%= disciplina.nome %></td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="horarios_<%disciplina._id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Horários
              </button>
              <div class="dropdown-menu" style="text-align: center !important;" aria-labelledby="horarios_<%disciplina._id%>">
                <% if(disciplina.horarios.get('dia_1') && disciplina.horarios.get('hora_1')){ %>
                  <p><b><%= disciplina.horarios.get('dia_1') %>:</b> <%= disciplina.horarios.get('hora_1') %></p>
                <% } %>
                <% if(disciplina.horarios.get('dia_2') && disciplina.horarios.get('hora_2')){ %>
                  <p><b><%= disciplina.horarios.get('dia_2') %>:</b> <%= disciplina.horarios.get('hora_2') %></p>
                <% } %>
                <% if(disciplina.horarios.get('dia_3') && disciplina.horarios.get('hora_3')){ %>
                  <p><b><%= disciplina.horarios.get('dia_3') %>:</b> <%= disciplina.horarios.get('hora_3') %></p>
                <% } %>
                <% if(disciplina.horarios.get('dia_4') && disciplina.horarios.get('hora_4')){ %>
                  <p><b><%= disciplina.horarios.get('dia_4') %>:</b> <%= disciplina.horarios.get('hora_4') %></p>
                <% } %>
              </div>
            </div>
          </td>
        </tr>
      <%})%>
    </tbody>
  </table>
<%}%>

<% if(aluno.disciplinas_conflito.length == 0 && aluno.disciplinas_ok.length == 0 ) { %>
  <p>Nenhuma disciplina relacionada com o aluno</p>
<%}%>

<a href="/alunos"><input type="button" class="btn btn-secondary" value="Voltar" ></input></a>
<a href="/editarAluno/<%= aluno._id %>"><input type="button" class="btn btn-primary" value="Editar informações" /></a>
<a href="/apagarAluno/<%= aluno._id %>"><input type="button" class="btn btn-danger" value="Apagar aluno" /></a>
