<%- contentFor('body') %>
<h1 class="text-center title-1"> Cadastro de Disciplina </h1>
<form action="/disciplina/<%= disciplina._id %>" method="post" class="webform-client-form webform-client-form-48">
  <p style="text-align:left !important;">nome:</p>
  <input class="form-control" type="text" name="nome" value="<%= disciplina.nome %>" />
  <p style="text-align:left !important;">codigo:</p>
  <input class="form-control" type="text" name="codigo" value="<%= disciplina.codigo %>" />
  <p style="text-align:left !important;">Horários:</p>

  <div class="row">
    <div class="form-group col">
      <select class="selectpicker form-control" name="diaDaSemana_1" title="escolha um dia">
        <option value="Segunda" <%= dia_1 === 'Segunda' ? 'selected' : '' %>> Segunda</option>
        <option value="Terça"   <%= dia_1 === 'Terça'   ? 'selected' : '' %>> Terça  </option>
        <option value="Quarta"  <%= dia_1 === 'Quarta'  ? 'selected' : '' %>> Quarta </option>
        <option value="Quinta"  <%= dia_1 === 'Quinta'  ? 'selected' : '' %>> Quinta </option>
        <option value="Sexta"   <%= dia_1 === 'Sexta'   ? 'selected' : '' %>> Sexta  </option>
      </select>
    </div>
    <div class="form-group col">
      <select class="selectpicker form-control" name="horario_1"  title="escolha um horário">
        <option value="18:30" <%= horario_1 === '18:30' ? 'selected' : '' %>>18:30</option>
        <option value="19:20" <%= horario_1 === '19:20' ? 'selected' : '' %>>19:20</option>
        <option value="20:20" <%= horario_1 === '20:20' ? 'selected' : '' %>>20:20</option>
        <option value="21:10" <%= horario_1 === '21:10' ? 'selected' : '' %>>21:10</option>
      </select>
    </div>
  </div>
	<div class="row">
    <div class="form-group col">
      <select class="selectpicker form-control" name="diaDaSemana_2" title="escolha um dia">
        <option value="Segunda" <%= dia_2 === 'Segunda' ? 'selected' : '' %>> Segunda</option>
        <option value="Terça"   <%= dia_2 === 'Terça'   ? 'selected' : '' %>> Terça  </option>
        <option value="Quarta"  <%= dia_2 === 'Quarta'  ? 'selected' : '' %>> Quarta </option>
        <option value="Quinta"  <%= dia_2 === 'Quinta'  ? 'selected' : '' %>> Quinta </option>
        <option value="Sexta"   <%= dia_2 === 'Sexta'   ? 'selected' : '' %>> Sexta  </option>
      </select>
    </div>
    <div class="form-group col">
      <select class="selectpicker form-control" name="horario_2" title="escolha um horário">
        <option value="18:30" <%= horario_2 === '18:30' ? 'selected' : '' %>>18:30</option>
        <option value="19:20" <%= horario_2 === '19:20' ? 'selected' : '' %>>19:20</option>
        <option value="20:20" <%= horario_2 === '20:20' ? 'selected' : '' %>>20:20</option>
        <option value="21:10" <%= horario_2 === '21:10' ? 'selected' : '' %>>21:10</option>
      </select>
    </div>
  </div> 
  <div class="row">
    <div class="form-group col">
      <select class="selectpicker form-control" name="diaDaSemana_3" title="escolha um dia">
        <option value="Segunda" <%= dia_3 === 'Segunda' ? 'selected' : '' %>> Segunda</option>
        <option value="Terça"   <%= dia_3 === 'Terça'   ? 'selected' : '' %>> Terça  </option>
        <option value="Quarta"  <%= dia_3 === 'Quarta'  ? 'selected' : '' %>> Quarta </option>
        <option value="Quinta"  <%= dia_3 === 'Quinta'  ? 'selected' : '' %>> Quinta </option>
        <option value="Sexta"   <%= dia_3 === 'Sexta'   ? 'selected' : '' %>> Sexta  </option>
      </select>
    </div>
    <div class="form-group col">
      <select class="selectpicker form-control" name="horario_3" title="escolha um horário">
        <option value="18:30" <%= horario_3 === '18:30' ? 'selected' : '' %>>18:30</option>
        <option value="19:20" <%= horario_3 === '19:20' ? 'selected' : '' %>>19:20</option>
        <option value="20:20" <%= horario_3 === '20:20' ? 'selected' : '' %>>20:20</option>
        <option value="21:10" <%= horario_3 === '21:10' ? 'selected' : '' %>>21:10</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <select class="selectpicker form-control" name="diaDaSemana_4" title="escolha um dia">
        <option value="Segunda" <%= dia_4 === 'Segunda' ? 'selected' : '' %>> Segunda</option>
        <option value="Terça"   <%= dia_4 === 'Terça'   ? 'selected' : '' %>> Terça  </option>
        <option value="Quarta"  <%= dia_4 === 'Quarta'  ? 'selected' : '' %>> Quarta </option>
        <option value="Quinta"  <%= dia_4 === 'Quinta'  ? 'selected' : '' %>> Quinta </option>
        <option value="Sexta"   <%= dia_4 === 'Sexta'   ? 'selected' : '' %>> Sexta  </option>
      </select>
    </div>
    <div class="form-group col">
      <select class="selectpicker form-control" name="horario_4" title="escolha um horário">
        <option value="18:30" <%= horario_4 === '18:30' ? 'selected' : '' %>>18:30</option>
        <option value="19:20" <%= horario_4 === '19:20' ? 'selected' : '' %>>19:20</option>
        <option value="20:20" <%= horario_4 === '20:20' ? 'selected' : '' %>>20:20</option>
        <option value="21:10" <%= horario_4 === '21:10' ? 'selected' : '' %>>21:10</option>
      </select>
    </div>
  </div>
  <a  href="/disciplina/<%= disciplina._id%>"><input type="button" class="btn btn-secondary" value="Voltar" ></input></a>
  <input type="submit" class="btn btn-primary" value="Salvar" />
</form>